:root {
    --light-body-background: #F0F0F0;
    --light-text-secondary: #686868;
    --light-card-background: white;
    --dark--body-background: #212121;
    --dark--card-background: #373737;
    --dark--primary-text: #d2d2d2;
}

@media (prefers-color-scheme: light) {
    /* 白天模式 */
    body {
        background: var(--light-body-background) !important;
    }

    .bg-colorsync {
        background: white !important;
    }

    .text-primary-colorsync {
        color: black !important;
    }

    .text-secondary-colorsync {
        color: var(--light-text-secondary) !important;
    }

    .text-navbar-brand-colorsync {
        color: black !important;
    }

    .bi-colorsync {
        color: black !important;
    }

    .btn-outline-colorsync {
        border: 1px solid var(--dark--body-background) !important;
        color: var(--dark--body-background) !important;
    }

    .btn-outline-colorsync:hover {
        background: var(--dark--body-background) !important;
        color: white !important;
    }

    .jumbotron {
        background: var(--light-card-background) !important;
    }

    .list-group-item {
        border: 1px solid var(--dark--primary-text) !important;
        color: var(--dark--body-background) !important;
        transition: .5s all !important;
    }

    .list-group-item.active {
        transition: .5s background-color !important;
        background: #515154 !important;
        border: 1px solid #515154 !important;
        color: white !important;
    }

    .list-group-item:hover {
        transform: scale(1.1) !important;
        box-shadow: 1px 1px 15px 1px var(--light-body-background) !important;
        color: white !important;
        background: var(--dark--card-background);
    }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body {
        color: #fff !important;
        background: var(--dark--body-background) !important;
    }

    .bg-colorsync {
        background: #373737 !important;
    }

    hr {
        background: #686868 !important;
    }

    .jumbotron {
        background: #373737 !important;
    }


    .btn-outline-colorsync {
        border: 1px solid var(--dark--primary-text) !important;
        color: white !important;
    }

    .btn-outline-colorsync:hover {
        background: white !important;
        color: black !important;
    }

    .card {
        background: var(--dark--card-background) !important;
    }

    .list-group-item {
        background: none;
        border: 1px solid var(--dark--primary-text) !important;
        color: var(--dark--primary-text) !important;
        transition: .5s all !important;
    }

    .list-group-item.active {
        transition: .5s background-color !important;
        background: #515154 !important;
        border: 1px solid white !important;
    }

    .list-group-item:hover {
        transform: scale(1.1) !important;
        box-shadow: 1px 1px 15px 1px var(--dark--card-background) !important;
    }

    nav * {
        color: white !important;
    }
}