@media (prefers-color-scheme: light) {
    body {
        background: #F0F0F0;
    }

    .bg-colorsync {
        background: white !important;
    }

    .text-primary-colorsync {
        color: black !important;
    }

    .text-secondary-colorsync {
        color: #686868;
    }

    .text-navbar-brand-colorsync {
        color: black !important;
    }

    .bi-colorsync {
        color: black;
    }

    .btn-primary-colorsync {
        background: #686868;
        color: white;
    }

    .jumbotron {
        background: white;
    }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background: #212121;
    }


    .bg-colorsync {
        background: #373737 !important;
    }

    hr {
        background: #686868;
    }

    .jumbotron {
        background: #373737;
    }

    .btn-primary-colorsync {
        background: #686868;
        color: white;
    }
}